<%- include('../partials/header') -%>

<main class="container signatureDiv authDiv">
    <h2 id="authIntro">Password Authentication Login</h2>
    <form action="/passAuth/login" method="POST">

        <label for="username">Username</label>
        <input autocomplete="off" type="text" id="username" class="form-control">

        <label for="password">Password</label>
        <input autocomplete="off" type="password" id="password" class="form-control">

        <button type="submit" class="btn signatureBtn">Login</button>
    </form>
    <div>
        <a onclick="window.location='/passAuth/signup'">Don't Have An Account? Signup</a>
    </div>
</main>
    
<%- include('../partials/header') -%>