<%- include('partials/header') -%>

<main class="container signatureDiv">
    <div class="centeredSeparated">
        <h2 id="authIntro">Nope.</h2>
        <button type="button" class="btn signatureBtn" onclick="window.location='/'">Go Back</button>
    </div>
</main>
    
<%- include('partials/footer') -%>