<%- include('partials/header') -%>

<main class="container optionsDiv">
    <h2 id="authIntro">Pick a Type of Authentication</h2>
    <% for (let opt in options) { %>
        <button class="btn optionsBtn"><%- options[opt].name %></button>
    <% } %>
</main>
    
<%- include('partials/footer') -%>