<%- include('partials/header') -%>

<main class="container signatureDiv optionsDiv">
    <h2 id="authIntro">Pick a Type of Authentication</h2>
    <% for (let opt in options) { %>
        <button type="button" class="btn signatureBtn optionsBtn" onclick="window.location='<%- options[opt].route %>'"><%- options[opt].name %></button>
    <% } %>
</main>
    
<%- include('partials/footer') -%>