<%- include('../partials/header') -%>

<main class="container signatureDiv authDiv">
    <h2 id="authIntro">Weak Authentication Signup</h2>
    <form action="/weakAuth/signup" method="POST">
        <label for="username">Username</label>
        <input id="username" class="form-control">

        <label for="password">Password</label>
        <input id="password" class="form-control">

        <button type="submit" class="btn signatureBtn">Sign Up</button>
    </form>
    <div>
        <p><a onclick="window.location='/weakAuth/login'">Already Have An Account? Login</a></p>
    </div>
</main>
    
<%- include('../partials/footer') -%>