:root{
    --primary-color: #e63946;
    --secondary-color: #a8dadc;
    --third-color: #1d3557;
    --fourth-color: #f1faee;
    --red-shadow: #F6B6BC;
}

body{
    font-family: 'Roboto Slab', serif;
    background-color: var(--fourth-color);
    color: var(--secondary-color);
}

@media screen and (min-width: 600px){
    .signatureDiv{
        margin-top: 15vh;
    }
}

@media screen and (min-width: 800px){
    .authDiv{
        width: 50%;
    }
}

@media screen and (max-width: 600px){
    .signatureDiv{
        height: 100vh;
    }
}

.signatureDiv{
    display: flex;
    flex-wrap: wrap;

    background-color: var(--third-color);
    padding: 10vh 10vw;
    border-radius: 5px;
}

/*
Section to define style elements specific to authorization
*/
.authDiv form{
    width: 100%;
}
.authDiv input {
    background-color: var(--fourth-color);
    border: none;
    border-radius: 2px;
    transition: background-color 0.25s, color 0.25s, box-shadow 0.25s;
}
.authDiv input:focus{
    background-color: var(--primary-color);
    color: var(--fourth-color);
    box-shadow: 2px -2px var(--red-shadow);
}
.authDiv label{
    width: 70%;
}
.authDiv button{
    margin-top: 2%;
    margin-bottom: 2%;
}
.authDiv a{
    transition: color 0.25s;
}
.authDiv a:hover{
    color: var(--fourth-color);
    cursor: pointer;
}

.optionsDiv{
    justify-content: center;
    align-content: stretch;
    flex-direction: row;
}

/*
Making the signature look of the buttons
*/
.signatureBtn{
    border: 2px solid var(--fourth-color);
    background-color: var(--fourth-color);
    color: var(--third-color);

    text-transform: uppercase;

    border-radius: 2px;
    transition: transform 0.25s, background-color 0.25s, color 0.25s, border 0.25s, box-shadow 0.25s;
    min-width: 15vw;
}
.signatureBtn:hover{
    cursor: pointer;
    transform: translate(4px, 4px);
    background-color: var(--primary-color);
    color: var(--fourth-color);
    border: 2px solid var(--primary-color);
    box-shadow: 4px -4px var(--red-shadow);
}
.signatureBtn:active{
    transform: translate(-4px, -4px);
}

.optionsBtn{
    display: flex;
    flex-grow: 1;

    padding: 2vh;
    margin: 2vh 2vw;
}

#authIntro{
    display: flex;
    margin-bottom: 4vh;
    color: var(--primary-color);
    text-shadow: 2px -2px var(--red-shadow);
    text-transform: uppercase;
    letter-spacing: 3px;
    max-width: 80vw;
}

.centeredSeparated{
    width: 100%;
}