<%- include('../partials/header') -%>

<main class="container signatureDiv authDiv">
    <h2 id="authIntro">Google Authentication</h2>
    <button type="button" class="btn signatureBtn" onclick="window.location='/googleAuth/login/google'">Sign Up</button>
</main>
    
<%- include('../partials/footer') -%>